<!-- {{ 'constant.title' | translate }}-->
 <div class="middle-box text-center loginscreen  animated fadeInDown gray-bg">
        <div>
            <div>

                <h3 class="logo-name" style="margin-left: -105px;">Karma</h3>

            </div>

            <form  class="m-t" role="form" ng-submit="loginUser()">
                <div class="form-group">
                    <input  type="email" ng-model="login.email" class="form-control" placeholder="Username" required>
                </div>
                <div class="form-group">
                    <input type="password" ng-model="login.password" class="form-control" placeholder="Password" required>
                </div>
                <button  type="submit"  class="btn btn-primary block full-width m-b">Login</button>

                <a href="#"><small>Forgot password?</small></a>
                <p class="text-muted text-center"><small>Do not have an account?</small></p>
                <a class="btn btn-sm btn-white btn-block" href="register.html">Create an account</a>
            </form>
        </div>
    </div>
